@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body{
    margin:0;
    padding: 0;
    font-family: 'Roboto', sans-serif;

}
main{
    padding: 80px;
    overflow: auto;
}
.container{
    height: 250px;
    width: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.content-list{
    width: 33.33%;
    float: left;
}
.content-logo {
    text-align: center;
    padding: 20px;
}
